.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.userContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(212, 212, 212, 0.5);
  width: 450px;
}

.welcomeContainer {
  text-align: start;
  margin-bottom: 1.5rem;
  min-height: 80px;
}

.welcomeContainer h2 {
  margin-bottom: 0.5rem;
}

.welcomeContainer p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  color: #666;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  text-align: start;
}

.inputContainer label {
  font-size: 14px;
}
.input {
  padding: 0.6rem;
  border-radius: 8px;
  height: 20px;
  border: 1px solid rgb(232, 232, 232);
}

.inputError {
  padding: 0.6rem;
  border-radius: 8px;
  height: 20px;
  border: 1px solid rgb(214, 87, 82);
}

.navigateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.navigateContainer div {
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
}

.errorMessage {
  display: flex;
  margin: 0;
}

.errorMessage p {
  margin: 0;
  font-size: 14px;
  color: rgb(214, 87, 82);
}
