.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(212, 212, 212, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}