.TodoList {
    list-style-type: none;
}

.ul {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.todoItem {
    background-color: #ffffff;
}

.completed {
    background-color: #e0e0e0;
    color: gray;
}

.todoItem, .completed {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    width: 100%;
    align-items: center;
    gap: 20px;
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.sortAndFilter {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.EditBtn {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: FontAwesome, sans-serif;
}

.RemoveBtn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: FontAwesome, sans-serif;
}

.todoDetails {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
}