.TodoList {
    list-style-type: none;
    padding: 20px;
}

.todoItem {
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
}

.completed {
    background-color: #e0e0e0;
    border-radius: 10px;
    color: gray;
}

.todoItem, .completed {
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    width: 100%;
}

.sortAndFilter {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 15px;
    justify-content: flex-end;
}

.EditBtn {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: FontAwesome, sans-serif;
}

.RemoveBtn {
    background-color: #ce1e1e;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: FontAwesome, sans-serif;
}