.body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/* .bodyContainer {
  background-color: white;
} */

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.titleWrapper button {
  border: 2px solid black;
  background: white;
  color: black;
}
