body {
    font-family: Arial, sans-serif;
    list-style: none;
}

ul {
    list-style: none;
    padding: 10px;
    border-radius: 8px;
}

li {
    display: flex;
    padding: 10px;
    background-color: lightgray;
    border-radius: 16px;
}

.todosContainer {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(212, 212, 212, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
