.listContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 1rem;
  border: 2px solid rgb(233, 233, 233);
  background-color: white;
}
