#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

input, select, textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

button {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.01);
  color: white;
}