#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

input, select, textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 14px;
  transition: border-color 0.2s ease;
}
