.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(212, 212, 212, 0.5);
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.inputFormContainer {
  display: flex;
  width: 100%;
  align-items: center;
}
.inputFormBtn {
  display: flex;
  justify-content: center;
}

.inputFormBtn button {
  width: 100%;
}

.labelContainer {
  display: flex;
  width: 25%;
  margin-right: 45px;
}

.labelContainer label {
  font-size: 14px;
}

.inputContainer input {
  padding: 0.6rem;
  outline: none;
  transition: border-color 0.2s ease;
  font-size: 14px;
  border-radius: 8px;
  height: 20px;
  border: 1px solid rgb(232, 232, 232);
}
